.mainButtons {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.buttonPrice,
.activeButtonPrice {
  padding: 10px 16px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
  background-color: #555555;
}

.activeButtonPrice {
  color: black;
  background-color: rgb(131, 240, 131);
}

@media (max-width: 600px) {
  .buttonPrice,
  .activeButtonPrice {
    width: 100%;
    font-size: 1rem;
  }
  .mainButtons {
    flex-direction: column;
    gap: 12px;
  }
}
