.container {
  width: 100%;
  max-width: 100%;
  padding: 12px;
  box-sizing: border-box;
}

.input {
  width: 100%;
  height: 80px;
  padding: 10px 12px;
  font-size: 2rem;
  border-radius: 8px;
  border: none;
  margin-bottom: 16px;
  box-sizing: border-box;
  transition: all 0.5s;
  color: white;
  background-color: #3f3f3f;
}

.input:focus {
  outline: none;
  border: 1px solid rgb(131, 240, 131);
  transition: border 0.5s ease;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filterItem {
  border: 1px solid #444;
  border-radius: 12px;
  padding: 16px;
  background-color: #1a1a1a;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 6px;
  animation: fadeInUp 0.4s ease;
  transition: border 0.5s ease;
}
.filterItem:hover {
  transition: border 0.5s ease;
  border: 1px solid rgb(131, 240, 131);
}

.name {
  font-weight: bold;
  font-size: 1.5rem;
}

.analogs,
.stock,
.price {
  font-size: 0.95rem;
  cursor: context-menu;
}

.noResults {
  color: #999;
  margin-top: 20px;
  text-align: center;
  animation: fadeIn 0.3s ease;
}
.sale10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.selectSale {
  font-size: 15px;
  width: 80px;
  height: 25px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #444;
}
.selectSale:focus {
  outline: none;
}
.highlight {
  background-color: rgb(131, 240, 131);
}

.fullAnalogsButton {
  background-color: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
  color: rgb(131, 240, 131);
  position: relative;
}

@media (max-width: 600px) {
  .filterItem {
    padding: 12px;
  }

  .name,
  .name a {
    font-size: 1rem;
    color: white;
  }

  .analogs,
  .stock,
  .price {
    font-size: 0.9rem;
  }
  .fullAnalogsButton {
    text-align: left;
  }

  .input {
    font-size: 1.5rem;
    height: 60px;
    background-color: #444;
  }
  .sale10 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    row-gap: 10px;
  }
}
.aboutFilter {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(56, 56, 56, 0.555);
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
}
.aboutFilterMain {
  width: 50%;
  height: 50vh;
  background-color: #242424;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
