.mainFilters {
  margin-top: 10px;
}

.main {
  padding: 16px;
  max-width: 100%;
  box-sizing: border-box;
  animation: fadeIn 0.3s ease-in-out;
  background-color: #242424;
}

.mainButtons {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.buttonPrice,
.activeButtonPrice {
  padding: 10px 16px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
  background-color: #555555;
}

.activeButtonPrice {
  color: black;
  background-color: rgb(131, 240, 131);
}

@media (max-width: 600px) {
  .mainButtons {
    flex-direction: column;
    gap: 12px;
  }
}
